body{background-color: rgba(68, 68, 245, 0.788);font-size: 30px;}

div{background-color: cornsilk;}


#helpful{border: solid;border-radius: 8px;width: 800px;height: 200px;text-align: center;}

button{font-size: 30px;}